datasets==3.3.2
gradio==5.20.0
gradio_client==1.7.2
qwen-vl-utils==0.0.10
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers @ git+https://github.com/huggingface/transformers.git@1931a351408dbd1d0e2c4d6d7ee0eb5e8807d7bf
trl @ git+https://github.com/sunildkumar/trl.git